@import "../../base/btn";

.btn {
    border-width: 0;
    outline: 0;
    appearance: none;
    &:focus {
        outline: 0;
    }

    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: $btn-font-size;
    text-align: center;
    text-decoration: none;
    color: $btn-font-color;
    line-height: $btn-height / $btn-font-size;
    border-radius: $btn-border-radius;
    @include tap-color;
    overflow: hidden;
    cursor: pointer;

    &:after {
        @include thin-border;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: $btn-border-radius * 2;
    }
}
.btn + .btn {
    margin-top: $btn-default-gap;
}

.disabled {
    cursor: not-allowed;
}

.small-btn {
    line-height: $btn-small-height;
    font-size: $btn-small-font-size;
    padding: 0 0.75em;
    display: inline-block;
}
