@import "../../base/btn";

$font-color: $btn-primary-font-color;
$bg-color: $btn-primary-bg-color;

$active-font-color: $btn-primary-active-font-color;
$active-bg-color: $btn-primary-active-bg-color;

$disabled-font-color: $btn-primary-disabled-font-color;
$disabled-bg-color: $btn-primary-disabled-bg-color;

$outline-font-color: $btn-primary-outline-font-color;
$outline-bg-color: $btn-primary-outline-bg-color;

$outline-active-font-color: $btn-primary-outline-active-font-color;
$outline-active-bg-color: $btn-primary-outline-active-bg-color;

$outline-disabled-font-color: $btn-primary-outline-disabled-font-color;
$outline-disabled-bg-color: $btn-primary-outline-disabled-bg-color;

@import "./mixin.scss";
@include theme(
    $font-color,
    $bg-color,
    $active-font-color,
    $active-bg-color,
    $disabled-font-color,
    $disabled-bg-color,
    $outline-font-color,
    $outline-bg-color,
    $outline-active-font-color,
    $outline-active-bg-color,
    $outline-disabled-font-color,
    $outline-disabled-bg-color
);
