@import "../../../base/cell";

.root {
    composes: root from "../base.scss";
}
.root:not(.disabled):active {
    background: $global-active-bg-color;
}

.disabled {
    color: $global-disabled-font-color;
}

.padding {
    composes: padding from "../base.scss";
}

.header {
    composes: header from "../base.scss";
    line-height: 0;
}

.body {
    composes: body from "../base.scss";
}

.footer {
    composes: footer from "../base.scss";
}


.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.checkbox-icon {
    margin-right: 4px;
    vertical-align: middle;
    display: none;
}
.checkbox-icon:not(.checked) {
    display: inline-block;
}
.checkbox:checked ~ .checkbox-icon.checked {
    display: inline-block;
}
.checkbox:checked ~ .checkbox-icon:not(.checked) {
    display: none;
}
