@import "../../../base/dialog";

.confirm {
    background: $dialog-background-color;
    border-radius: 3px;
    text-align: center;
    width: 85%;
    overflow: hidden;
}
@media screen and (min-width: 1024px) {
    .confirm {
        width: 35%;
    }
}

.header {
    text-align: left;
    padding: 1.2em 20px 0.5em;

    > h2 {
        margin: 0;
        font-weight: 400;
        font-size: 17px;
    }
}

.content {
    text-align: left;
    padding: 0 20px;
    font-size: 15px;
    color: $global-text-color;
}

.footer {
    line-height: 42px;
    margin-top: 20px;
    font-size: 17px;
    button {
        position: relative;
        float: left;
        appearance: none;
        display: block;
        font-size: inherit;
        line-height: inherit;
        color: $dialog-link-color;
        padding: 0;
        border: 0;
        background: none;
        width: 50%;
        box-sizing: border-box;
        @include tap-color;
        &:active {
            background: $dialog-line-color;
        }
        &:not(:first-child)::before {
            content: "";
            @include thin-line-left($dialog-line-color);
        }
        &.btn-default {
            color: #353535;
        }
        &.btn-primary {
            color: #0BB20C;
        }
    }
    position: relative;
    &::before {
        content: "";
        @include thin-line-top($dialog-line-color);
    }
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
