$btn-default-gap: 10px;
$btn-height: 42px;
$btn-mini-height: 25px;
$btn-font-size: 18px;
$btn-font-color: white;
$btn-disabled-font-color: rgba(255, 255, 255, 0.6);
$btn-active-font-color: rgba(255, 255, 255, 0.4);
$btn-mini-font-size: 14px;
$btn-border-radius: 5px;

$btn-default-bg: #F7F7F7;
$btn-default-active-bg: #DEDEDE;
$btn-default-font-color: #454545;
$btn-default-disabled-font-color: #C9C9C9;
$btn-default-active-font-color: #A1A1A1;

$btn-primary-bg: #04be02;
$btn-primary-active-bg: #039702;

$btn-warning-bg: #ef4f4f;
$btn-warning-active-bg: #c13e3e;
