@import "../../../base/cell";

.root {
    composes: root from "../base.scss";
    composes: padding from "../base.scss";
    text-decoration: none;
}
.root:active {
    @include tap-color;
    background: $item-active-color;
}

.header {
    composes: header from "../base.scss";
}

.body {
    composes: body from "../base.scss";
}

.footer {
    composes: footer from "../base.scss";
    composes: arrow-right from "../base.scss";
}
