@import "text";
@import "thin-line";
@import "arrow";

// tapcolor
@mixin tap-color($color: rgba(0, 0, 0, 0)) {
    -webkit-tap-highlight-color: $color;
    @if (alpha($color) == 0) {
        -webkit-tap-highlight-color: transparent;
    }
}

//user action
@mixin no-select {
    -webkit-touch-callout: none;
    user-select: none;
}
