@import "text";
@import "thin-line";

// tapcolor
@mixin tap-color($c: black) {
    tap-highlight-color: $c;
}

//user action
@mixin no-select {
    -webkit-touch-callout: none;
    user-select: none;
}
